@using Nackowskis.Identity;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        @if (User.IsInRole("Admin"))
        {
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-action="Users" asp-controller="Admin">Users</a>
                    <a class="dropdown-item" asp-action="Auctions" asp-controller="Admin">Auctions</a>

                </div>
            </div>
        }
        @if (SignInManager.IsSignedIn(User))
                {


            <a class="p-2 text-muted" asp-action="Auctions" asp-controller="Auction">Auktioner</a>
            <a class="p-2 text-muted" href="#">Business</a>



        }
    </nav>
</div>
        </div>